@model KyleFinley.Web.Models.ErrorViewData
@{
    Model.Title = "Page Not Found";
    Layout = "_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <p>
            <h2>Sorry! Couldn't find the page your looking for.</h2>
        </p>
        <p>
            <h2>I'll look around and see if I can locate it later.</h2>
        </p>
    </div>
</div>
