@model _928.Web.Mvc.AuthorViewData<KyleFinley.Models.Page>
@using _928.Web.Mvc
@using KyleFinley.Models
@using KyleFinley.Web.Models


@{
    ViewBag.Title = "Author";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Author</h2>

