@model _928.Web.Mvc.ViewData<KyleFinley.Models.Category>

@{
    Model.Description = Model.Page.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Page.Title</h1>
<div>
    @Html.Raw(Model.Page.Content)
</div>
