@model KyleFinley.Models.ArticleSummary
<div class="row" style="position: relative;">
    <div class="col-md-7  article-summary section">
        <h3 class="article-summary-title section-header">@Html.RouteLink(Model.Title, NamedRoutes.TopLevel, new { url = Model.Url.Path })</h3>
        <div><i>Published: @Model.PublishedDate.ToShortDateString()</i></div>
        <div>@Html.Raw(Model.ContentSnippet)</div>
    </div>
</div>